<style>
    @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
</style>
  
  <div class="container-fluid title pt-2 pb-1">
    <h1>PROYECTO 2 COMPILADORES 1</h1>
  </div>
  <br>
  <div class="container pt-2">
      <div class="row mb-5 fila">
        <div class="col-lg-6 col-sm-12">
          <p class="my-0 text-black subtitulo" style="font-size: 175%;">Editor</p>
          <textarea name="editor" id="editor" cols="50" rows="10"></textarea>
        </div>
        <div class="col-lg-6 col-sm-12">
          <p class="my-0 text-black subtitulo" style="font-size: 175%;">Consola</p>
          <textarea readonly name="consola" id="consola" cols="50" rows="10"></textarea>
        </div>
      </div>
      <br>
      <div class="row text-center">
        <div class="col-12">
          <button (click)="getData()" style="background-color: #7FC8A9;" class="btn btn-outline-light btn-lg"> <i class="bi bi-play-circle"></i>
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-play-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z"/>
            </svg> EJECUTAR </button>
        </div>
      </div>

    <hr>
  
    <div class="row my-5">
      <div class="col-12">
        <p class="mt-2 mb-1 text-white subtitulo" style="text-align: center; font-size: 36px;">Tabla de símbolos</p>
        <table class="table table-striped table-dark text-center">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Tipo símbolo</th>
              <th scope="col">Tipo dato</th>
              <th scope="col">Ámbito</th>
              <th scope="col">Fila</th>
              <th scope="col">Columna</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"></th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
    <hr>
  
    <div class="row my-5">
      <div class="col-12">
        <p class="mt-2 mb-1 text-white subtitulo" style="text-align: center; font-size: 36px;">Tabla de errores</p>
        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Tipo</th>
              <th scope="col">Error</th>
              <th class="text-center" scope="col">Fila</th>
              <th class="text-center" scope="col">Columna</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"></th>
              <td></td>
              <td class="fc"></td>
              <td class="text-center"></td>
              <td class="text-center"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
  </div>
  <footer class="text-center text-lg-start">
    <div class="text-center p-3" style="background-color: #EDEDED;">
      <p class="foot my-0">
        © Diego Mazariegos - Organización de Lenguajes y Compiladores 1 - Proyecto 2
      </p>
    </div>
  </footer>